
{% extends 'JobSeekerapp/base.html' %}

{% block header %}
    <!-- Inner Banner Starts -->
<div class="inner-page-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-12 mx-auto text-center">
                <h2 class="font-weight-bold text-uppercase display-4 text-white">Check Your Email!</h2>
                <ol class="list-inline text-center">
<!-- {#                    <li class="list-inline-item"><a href="#">Home </a> &nbsp; /</li>#} -->
                    <li class="list-inline-item active">Check Your Email!</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Inner Banner ends -->

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
		<div class="alert alert-success" role="alert">
		  <h4 class="alert-heading">Well done!</h4>
		   
		    	<p>An Email has been sent with instructions to reset your password.</p>
		 
		  <hr>
		  <p class="mb-0">Check Your Email!</p>
		</div>
	</div>
</div>
       

{% endblock %}
