

{% extends 'JobSeekerapp/base.html' %}

{% block header %}
    <!-- Inner Banner Starts -->
<div class="inner-page-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-12 mx-auto text-center">
                <h2 class="font-weight-bold text-uppercase display-4 text-white">Password Reset Form</h2>
                <ol class="list-inline text-center">
<!-- {#                    <li class="list-inline-item"><a href="#">Home </a> &nbsp; /</li>#} -->
                    <li class="list-inline-item active">Password Reset Form</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Inner Banner ends -->

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
	    <h1>Password Reset Form</h1>
	    <form  method="Post"> {% csrf_token %}
	       	{{form|crispy}}
	      	<button type="submit" class="btn mainbtn">Reset Password</button>
	    </form>
	<div class="col-md-4">
    </div>
</div>
{% endblock %}
