{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body">
                    <form method="POST">
		{% csrf_token %}
		{{ form|crispy}}

		<table class="table form-table table-bordered table-sm">
                            <thead class="text-center">
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form_data in formset %}
                                <tr class="item">
                                    <td>
                                        {{ form_data.From}}
                                    </td>
                                    <td>
                                        {{ form_data.To }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                                id="{{ formset.prefix }}">

                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
                            <tr>
                                <td colspan="9"
                                    style="border-left: none!important; border-right: none !important; border-bottom: none!important;">
                                    <button type="button" class="btn btn-sm btn-success add-form-row"
                                            id="{{ formset.prefix }}">
                                       Add
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {{ formset.management_form }}

		<button type="submit">Submit</button>
	</form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Orders Records
                </div>
                <div class="card-body">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order %}
{#                            {% if order.customer %}#}
                            {% if order.customer == user %}
                            <tr>
                                <td>{{ order.name }}</td>
                                <td>{{ order.name.category }}</td>
                                <td>{{ order.order_quantity }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>